# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
node_modules/
.vite/
report.pdf
*.egg-info/
*.spec
*_rc.py

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS junk
.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*~
.nfs*

# Logs & Temporary Files
*.log
*.tmp
*.bak

# screenshots
Screenshot*.png

# others
*.dwg
*.dwl
*.dwl2
/others
man_profile.yaml